.chat-space
 = render "shared/chat-side"
 .chat-main
  .main-header
   .current-group
    .current-group__name
     = @group.name    
    .current-group__menber 
     Member:
     - @group.users.each do |users| 
      = users.name
   .main-header__edit
    Edit
  .messages
   = render partial: "message", collection: @messages
  .form
   = form_for [@group, @message] do |f|
    .input-box
     = f.text_field :body, class: 'input-box__text', placeholder: 'type a message'
     = f.label :image, class: 'input-box__image' do
      = fa_icon 'picture-o', class:'fa fa-image'
      = f.file_field :image, id: 'message_image'
    = f.submit 'Send', class: 'submit-btn'