.chat-space
 = render 'shared/chat-side'
 .chat-main
  .main-header
   .current-group
    .current-group__name
     Test-group
    .current-group__menber
     Menber huga neko  
   .main-header__edit
    Edit
  .messages
   .message
    .chat
     .chat__user
      huga
     .chat__datetime
      2019/9/10(TUE) 17:00:00
    .message__text
     こんばんわ！
   .message
    .chat
     .chat__user
      neko
     .chat__datetime
      2019/9/10(TUE) 18:00:00
    .message__text
     こんにちわ！
  .form
   = form_for [@group, @message] do |f|
    .input-box
     = f.text_field :body, class: 'input-box__text', placeholder: 'type a message'
     = f.label :image, class: 'input-box__image' do
      = fa_icon 'picture-o', class:'fa fa-image'
      = f.file_field :image, id: 'message_image'
    = f.submit 'Send', class: 'submit-btn'